@import "tailwindcss";

@theme {
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-montserrat);
}

:root {
  --background: #fdf8f6;
  --foreground: #4a3b32;

  /* Envelope Colors */
  --envelope-paper: #f5ebe0;
  --envelope-flap: #e6dace;
  --seal-color: #8a3324;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}