@import "tailwindcss";

@theme {
  --font-family-serif: var(--font-playfair);
  --font-family-sans: var(--font-montserrat);
  --font-family-script: var(--font-alex-brush);
}

:root {
  --background: #fdf8f6;
  --foreground: #4a3b32;

  /* Envelope Colors */
  --envelope-paper: #f5ebe0;
  --envelope-flap: #e6dace;
  --seal-color: #8a3324;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), ui-serif, Georgia, serif;
}

.font-script {
  font-family: var(--font-alex-brush), cursive !important;
}